/*Teste 3*/
/*Extra Grande*/
@media (max-width: 1400px) { 
    body {
        background-color: dimgray;
    }

    .row {
        height: 100px;
        padding: 100px;
    }

    h1 {
        text-align: center;
    }
    
    
 }
/*Grande*/
@media (max-width: 1200px) {
    body {
        background-color: fuchsia;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .row {
        height: 100px;
        padding: 50px;
    }
    /*img {
        margin-left:-30px;
        margin-right: -2;
    }*/

    p {
        padding: 50px;
        text-align: center;
    }
    
}
/*Intermediário*/
@media (max-width: 992px) { 
    
h1 {
    text-align: center;
}

img {
    align-items: center;
}
    
    
 }
/*Medio*/
@media (max-width: 768px) { 
    body {
        background-color:crimson;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }

    /*img {
        margin-left:-30px;
        margin-right: -2;
    }*/

    p {
        padding: 50px;
        text-align: center;
    }

    
 }
/*Pequeno*/
@media (max-width: 576px) { 
    
    body {
        background-color: greenyellow;
    }

    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }

    /*img {
        margin-left:-30px;
        margin-right: -2;
    }*/

    p {
        padding: 50px;
        text-align: center;
    }

}
