body {
    background-color: blue;
}
/*Extra Grande*/
@media (max-width: 1400px) { 
    body {
        background-color: dimgray;
    }

    h1 {
        text-align: center;
    }

    img {
        width: 500px;
        margin-left: -100px;
    }

    .row {
        
    }

    
    
 }
/*Grande*/
@media (max-width: 1200px) {
    body {
        background-color: fuchsia;
    }
    
}
/*Intermediário*/
@media (max-width: 992px) { 
    body {
        background-color:blueviolet;
    }

    .row {
        flex-direction: column;
    }
 }
/*Medio*/
@media (max-width: 768px) { 
    body {
        background-color:crimson;
    }

    h2 {
        text-align: center;
    }

    img {
        margin-left:-30px;
        margin-right: -2;
    }

    p {
        padding: 50px;
        text-align: center;
    }

    
 }
/*Pequeno*/
@media (max-width: 576px) { 
    
    body {
        background-color: greenyellow;
    }
    

}