/*Teste 4*/
/*Extra Grande*/
@media (max-width: 1400px) { 
    body {
        background-color: dimgray;
    }

    .row {
        height: 500px;
        padding: 100px;
        flex-direction: column;
    }

    h2 {
        color: chartreuse;
        margin-top: 150px;
    }

    #p_seguranca_todos {
        margin-top: 150px;
        color: white;
    }

    
    
} 
 

@media (max-width: 1200px) {
    body {
        background-color: fuchsia;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .row {
        
        
    }

    h2 {
        color: chartreuse;
        margin-top: 150px;
    }

    #p_seguranca_todos {
        margin-top: 40px;
        color: white;
    }
   
    

    p {
        padding: 50px;
        text-align: center;
    }

    .img_tela2 {
        width: 100px;
        height: 40%;
        
    }
    
}
/*Intermediário*/
@media (max-width: 992px) { 
    
h1 {
    text-align: center;
}

img {
    align-items: center;
}
    
    
 }
/*Medio*/
@media (max-width: 768px) { 
    body {
        background-color:crimson;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        margin-right: 40px;
    }

    img {
        margin-left:-30px;
        margin-right: -2;
    }

    p {
        padding: 50px;
        text-align: center;
    }

    
 }
/*Pequeno*/
@media (max-width: 576px) { 
    
    body {
        background-color: greenyellow;
    }

    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        color: blue;
        margin-right: 50px;
    }

    /*img {
        margin-left:-30px;
        margin-right: -2;
    }*/

    p {
        padding: 50px;
        text-align: center;
        margin-left: -40px;
    }

}
